html{
  min-height: 100%;
  background-image: url(./great.jpg);
  background-position:center center;
  background-repeat: no-repeat;
  background-size: cover;
}

#footer{
  position: fixed;
  padding: 10px 10px 10px 10px;
  bottom: 0;
  width: 100%;
  Height: 40px;
  background-color: grey;
}

a{
  text-decoration: none;
  color:black;
  font-size: 25px;
}

a:hover{
  color: brown;
}

a:visited{
  color: purple;
}

h1{
  text-align: center;
  color:darkblue;
}

@media(max-width:600px){
  html{
  width: 100px;
  float: none;
 }

}

body{
  min-height: 100px;
}